<div class="container">
  <div *ngIf="heists">
    <div *ngFor="let h of heists; let i=index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{h.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{h.location}}</h6>

          <p class="card-text">Starts in: {{h.endTime | countdown}}</p>

          <div *ngFor="let s of h.skills" class="row">
            <p class="card-text"><strong>{{s.name}}</strong></p>
            <ul class="list-group col-6">
              <li class="list-group-item">Skill level: {{s.level}}</li>
              <li class="list-group-item">Number of members: {{s.members}}</li>
            </ul>
          </div>

        </div>
      </div>
      <br>
    </div>
  </div>
</div>
